@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.ranking {
  overflow: scroll;
}

.ritzau {
  margin-top: 10vh;
  box-shadow: 0 0 30px 5px #f5bb00;
  border-radius: 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  
  @include media-breakpoint-up(xl) {
    margin-top: 0;
  }

  h2 {
    text-align: center;
  }

  > * {
    margin: 0;
  }

  .date {
    text-align: right;
  }
}