:root {
  --timer: 90s;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  .content-container {
    flex: 1;
    display: flex;
    align-items: center;
  }
}